@import url("./root.css");
@import url("./reset.css");
@import url("./utility.css");

/* Header section styles */
html,
body {
  height: 100%;
}

.container {
  min-height: 100vh;
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
  border: 2px solid red;
}
body {
  background-color: var(--navy);
}
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  height: var(--nav-height);
}

.menu-container {
  display: flex;
  align-items: center;
}

.desktop-menu {
  display: flex;
  list-style: none;
  gap: 1.7rem;
  padding-inline: 2.5rem;
}

ol {
  counter-reset: item;
  font-size: var(--fs-300);
}
.desktop-menu ol li {
  display: block;
}
ol li:before {
  content: "0" counter(item) ". ";
  counter-increment: item;
  color: var(--green);
}

.mobile_nav {
  display: none;
}

.desktop-menu li a {
  color: var(--lightest-slate);
}

.desktop-menu li:hover a {
  color: var(--green);
  transition: var(--transition);
}

.resume {
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--green);
  font-size: var(--fs-300);
}

/* social icons style */

.contact-info {
  position: fixed;
  bottom: 120px;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  padding-block: 0.6rem;
}

.contact-info ul li a {
  color: var(--lightest-slate);
}

.feather {
  width: 20px;
  height: 20px;
}

.email {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.email a {
  color: var(--lightest-slate);
  font-size: var(--fs-300);
}
