.text-dark-navy {
  color: var(--dark-navy);
}
.text-navy {
  color: var(--navy);
}
.text-light-navy {
  color: var(--light-navy);
}
.text-navy-shadow {
  color: var(--navy-shadow);
}
.text-dark-slate {
  color: var(--dark-slate);
}
.text-slate {
  color: var(--slate);
}
.text-light-slate {
  color: var(--light-slate);
}
.text-lightest-slate {
  color: var(--lightest-slate);
}
.text-white {
  color: var(--white);
}
.text-green {
  color: var(--green);
}
.text-green-tint {
  color: var(--green-tint);
}
.text-pink {
  color: var(--pink);
}
.text-blue {
  color: var(--blue);
}

.bg-dark-navy {
  background-color: var(--dark-navy);
}
.bg-navy {
  background-color: var(--navy);
}
.bg-light-navy {
  background-color: var(--light-navy);
}
.bg-navy-shadow {
  background-color: var(--navy-shadow);
}
.bg-dark-slate {
  background-color: var(--dark-slate);
}
.bg-slate {
  background-color: var(--slate);
}
.bg-light-slate {
  background-color: var(--light-slate);
}
.bg-lightest-slate {
  background-color: var(--lightest-slate);
}
.bg-white {
  background-color: var(--white);
}
.bg-green {
  background-color: var(--green);
}
.bg-green-tint {
  background-color: var(--green-tint);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-blue {
  background-color: var(--blue);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.mb-200 {
  margin-bottom: 2rem;
}

.mb-300 {
  margin-bottom: 3rem;
}

.ff-mono {
  font-family: var(--font-mono);
  font-weight: 300;
}


