/* Utility Classes */

.txt-white {
  color: var(--clr-white);
}
.txt-black {
  color: var(--clr-black);
}
.txt-light-gray {
  color: var(--clr-light-gray);
}
.txt-dark-gray {
  color: var(--clr-dark-gray);
}
.txt-semi-dark-gray {
  color: var(--clr-semi-dark-gray);
}

.bg-white {
  background-color: var(--clr-white);
}
.bg-black {
  background-color: var(--clr-black);
}
.bg-light-gray {
  background-color: var(--clr-light-gray);
}
.bg-dark-gray {
  background-color: var(--clr-dark-gray);
}
.bg-semi-dark-gray {
  background-color: var(--clr-semi-dark-gray);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fs-button {
  font-size: var(--fs-button);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.full-height {
  height: 100%;
}
