::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

/* Header section styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11;
  padding: 0 25px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.main_nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  z-index: 12;
}

.desktop_nav {
  display: none;
}

.mobile_nav {
  display: flex;
}

.mobile_nav aside {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: min(-75vw, -400px);
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0;
  background-color: var(--light-navy);
  box-shadow: -10px 0 30px -15px var(--navy-shadow);
  z-index: 9;
  transition: var(--transition);
}

.mobile_nav aside nav {
  width: 100%;
}

.mobile_nav aside ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  counter-reset: item;
}

.mobile_nav aside ol li {
  margin: 0 5px;
  text-align: center;
  position: relative;
  width: 100%;
  font-size: clamp(var(--fs-sm), 4vw, var(--fs-lg));
}

.mobile_nav aside ol li::before {
  display: block;
  content: "0" counter(item) ". ";
  counter-increment: item;
  color: var(--green);
  font-family: var(--font-mono);
}

.mobile_nav aside ol li a {
  padding: 3px 20px 20px 20px;
  display: block;
  font-size: var(--fs-md);
}

.menu_icon {
  background-color: transparent;
  border: none;
}

#close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.resume {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fs-xs);
}

.wide {
  padding: 1rem 2.5rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 50px;
  }

  .desktop_nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .desktop_nav ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    counter-reset: item;
  }

  .desktop_nav ol li {
    margin: 0 5px;
    position: relative;
    display: block;
    font-size: 13px;
  }

  .desktop_nav ol li::before {
    content: "0" counter(item) ". ";
    counter-increment: item;
    color: var(--green);
    font-family: var(--font-mono);
  }

  .desktop_nav ol li a {
    padding: 10px 5px;
    font-family: var(--font-mono);
  }

  .desktop_nav ol li a:hover {
    color: var(--green);
  }

  .mobile_nav {
    display: none;
  }
}

.contact-container {
  display: none;
}

.contact-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.contact-info::after {
  content: " ";
  display: block;
  height: 90px !important;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--light-slate);
}

.contact-info.left {
  left: 20px;
}

.contact-info.right {
  right: 20px;
  align-items: center;
}

.social-icon-menu li a {
  display: inline-block;
  padding: 10px !important;
}

.social-icon-menu li a:hover .feather {
  transform: translateY(-3px);
  transition: var(--transition);
  color: var(--green);
}

.feather {
  width: 20px;
  height: 20px;
  color: var(--light-slate);
}

.email {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: 12px;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.email:hover a {
  display: block;
  transform: translateY(-3px);
  transition: var(--transition);
  color: var(--green);
}

.search,
.search-btn {
  display: none;
}

@media screen and (min-width: 1080px) {
  .contact-info.left {
    left: 40px;
  }

  .contact-info.right {
    right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contact-container {
    display: block;
  }

  .search-btn,
  .search {
    display: inline-block;
  }

  .search {
    width: 200px;
    border: none;
    border-bottom: 1px solid var(--dark-slate);
    background-color: rgba(10, 25, 47, 0.85);
    margin-inline: 10px;
    color: var(--light-slate);
    padding-inline: 10px;
  }

  .search::placeholder {
    color: var(--light-slate);
  }
  .search:focus {
    outline: none;
    border-bottom: 1px solid var(--green);
    transform: (--transition);
  }
  .search-btn {
    background-color: transparent;
    color: var(--light-slate);
    border: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
}
