/* Experience section style */

.mini-section {
  max-width: 700px;
  margin-inline: auto;
}

.option-container {
  display: flex;
}

.option-container li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.option-container li.active {
  border-bottom: 2px solid var(--green);
}

.option-container li p {
  display: flex;
  align-items: center;
}

.option-container li:hover {
  background-color: var(--light-navy);
}
.option-container li:hover a {
  color: var(--green);
  background-color: var(--light-navy);
}

@media screen and (min-width: 768px) {
  .list {
    width: 20%;
  }

  .content-container {
    width: 80%;
  }

  .option-container {
    flex-direction: column;
  }

  .option-container li.active {
    border-bottom: none;
    border-left: 2px solid var(--green);
  }
}
